.assets
.env
*.pyc
dist/
build/
docs/
*.egg-info/
*.egg
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
lite/
.venv/
examples/
.nanobot/
__pycache__/
poetry.lock
.pytest_cache/
tests/
botpy.log
edu_doc.py
edu_svg.py
nanobot/agent/tools/resources/templates/
